<% include ./partials/header %>

<!-- <div class="ui main text container">
    <div class="ui huge header">Plans List</div>
    <div class="ui top  attached segment">
        <div class="ui divided items">
            <% blogs.forEach(function(blog){ %>
                <div class="item">
                    <div class="image">
                        <img src="<%= blog.image %>" >
                    </div>
                    <div class="content">
                         <a class="header" href="/blogs/<%= blog._id %>"><%=blog.title%></a>
                         <div class="meta">
                             <span><%= blog.created.toDateString() %></span>
                         </div>
                         <div class="description">
                             <p><%- blog.body.substring(0, 100) %>...</p>
                         </div>
                         <div class="extra">
                             <a class="ui floated basic violet button" href="/blogs/<%= blog._id %>">
                                 Read More
                                 <i class="right chevron icon"></i>
                             </a>
                         </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div> -->


<div class="container">
    <div class="display-4 text-center"><u>Plans list</u></div>
    <br>
   
    <div class="jumbotron">
                
            <input class="form-control mt-75 container" id="myInput" type="text" placeholder="Search Your Plan here..">
            <br>
                <% blogs.forEach(function(blog){ %>
                    <ul class=" list-group bg-secondary" id="myList">
                        
                            <li class="list-group-item">
                    <div class="media border bg-secondary  p-3">
                    
                    <div class="media-body ">
                                
                     <h4><a class="display-4 text-Warning text-capitalize" href="/blogs/<%= blog._id %>"> <%=blog.title%> </a>
                        
                        <span class="badge "><%= blog.created.toDateString() %></span>
                         </h4>
                    <div class="extra">
                                            <a class=" btn btn-dark border border-danger m-auto" href="/blogs/<%= blog._id %>">
                                                Show Plan
                                            </a>
                                        </div>
                                          
                                  </div>
                               
                                </div>
                            </li>
                        </ul>
                        <% }) %>
                    
               
                    
        </div>    
        </div>
    </div>

</div>
<script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myList li").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
        </script>
<% include ./partials/footer %>
